extends layouts/default

block content
    .header
      .header-menu
        .header-menu_1
          section
            a(href="#")
              i(class="fa fa-bars")
            a(href="#") Tour
            a(href="#") Features
            a(href="#") Pricing
        .logo
          a(href="#")
            img(src="/images/NewProvidence.png")
        .header-menu_2
          section
            a(href="#") Help
            a(href="#") Contacts
            a(href="#")
              span(class="btn-itunes")
                i(class="fa fa-apple")
                |  Get App
      .text
        h1 What happens tomorrow?
        p The sight of the tumblers restored Bob Sawyer to a degree of equanimity which he had not possessed since his interview with his landlady. His face brightened up, and he began to feel quite convivial.
        a(href="#")
           span(class="btn-play")
            i(class="fa fa-play")
            |  Watch Video
